body {
    background-color: #000000;
  }
  
  .mainbox {
    background-color: #000000;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
  .err {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
  }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 52%;
    top: 29%;
    color: #ffffff;
    animation: myfirst 1.5s infinite linear;
  }
  
  @keyframes myfirst {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .err2 {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
  }
  
  .msg {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    color: #ffffff;
  }
  
  .mainbox a {
    background-image: linear-gradient(to right, #fa1ff6, #19dbff);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .mainbox a:hover {
    color: #000000;
    background-image: linear-gradient(to right, #290b69, #edaf70);
  }
  